# ========================
# Node.js
# ========================
node_modules/

# ========================
# Build / Dist Çıktıları
# ========================
dist/
build/
out/
release/
*.spec

# ========================
# Python
# ========================
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
env/

# ========================
# IDE & Editör
# ========================
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
Thumbs.db

# ========================
# OS
# ========================
desktop.ini
*.lnk

# ========================
# Geçici / Yedek Dosyalar
# ========================
*.log
*.tmp
*.bak
*_backup.*
